.header{
  background-color: #FF0000;
  height: 100px;
  width: 400px;
}

.main{
  background-color: #0f0;
  height: 250px;
  width: 150px;
  float: left;
}

.main2{
  background-color: #30f;
  height: 250px;
  width: 250px;
  float: left;
}

.footer{
  background-color: #ffe600;
  height: 100px;
  width: 400px;
}